.nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

.nav-item {
    padding: 5px 10px;
    cursor: pointer;
  }