.rodape {
    display: flex;
    align-items: center;

  }
  
  .footer-item {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 30px;
  }
  
  .dark-blue {
    flex: 30%;
    background-color: #084154;
    color: #fff;
    justify-content: flex-end;
   
  }
  
  .blue {
    flex: 70%;
    background-color: #3EC6E0;
    color: #fff;
  }
  
  .icon {
    margin-right: 10px;
  }