#rodape {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .footer-item {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .dark-blue {
    flex: 30%;
    background-color: #1c1c4c;
    color: #fff;
  }
  
  .blue {
    flex: 70%;
    background-color: #3EC6E0;
    color: #fff;
    font-family: Roboto;
  }
  
  .icon {
    margin-right: 10px;
  }