.div-recomendation {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.recomendation-head, .container-recomendation {
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
      }
}


.subcontainer-recomendation {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
      }
    
    img{
        width: 270px;
    }
}